<h1>Genres</h1>

<ul>
  <% @genres.each do |genre| %>
    <li>
      <%= link_to genre.name.titleize, genre %>
    </li>
  <% end %>
</ul>

<div class="pagination">
  <%= will_paginate @genres %> <!-- This will create pagination links -->
</div>
