<h1><%= @genre.name.titleize %></h1>
<p><%= @genre.description %></p>

<p>Books:</p>
<ul>
  <% @books.each do |book| %>  <!-- Use @books for the paginated list -->
    <li>
      <%= link_to book.title.titleize, book_path(book) %>
    </li>
  <% end %>
</ul>

<div class="pagination">
  <%= paginate @books %> <!-- This will create pagination links for books -->
</div>
