<h1>Welcome to Our Bookstore</h1>

  <%= link_to 'Go to Genres', genres_path, class: 'btn btn-primary' %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>

  <div>
    <h2>Sign Up or Log In</h2>

    <!-- Link to Sign Up (for new users) -->
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>

    <!-- Link to Log In -->
    <%= link_to "Log In", new_user_session_path, class: "btn btn-secondary" %>
  </div>
