<!-- Books List -->
<h1 class="mb-4 text-primary">Books</h1>
<div class="row">
  <% @books.each do |book| %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <%= render 'book', book: book %>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @books, class: 'pagination' %> <!-- Pagination with Bootstrap -->
</div>
