<h1>Books</h1>
<ul>
  <% @books.each do |book| %>
    <%= render 'book', book: book %>
  <% end %>
</ul>

<div class="pagination">
  <%= will_paginate @books %> <!-- This will create pagination links -->
</div>