/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // app/assets/stylesheets/application.scss

@import "bootstrap";
@import "active_admin/base";
@import "buttons";
@import "forms";
@import "header";
@import "search_bar";


$primary-color: #3498db;
$secondary-color: #2ecc71;

// Style body
body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  color: #fff;
  margin: 0;
  padding: 0;
}

// Buttons
button {
  background-color: $secondary-color;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}
