<h1><%= @genre.name %></h1>
<p><%= @genre.description %></p>

<p>Products:</p>
<ul>
    <% @genre.products.each do |product| %>
        <li>
            <%= link_to product.name.titleize, product_path(@genre, product) %>
        </li>
    <% end %>
</ul>